body {
  position: relative;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

#title {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap;  /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */ 
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4s linear 3s infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
 
/* The typewriter cursor effect */
/*
@keyframes blink-caret {
  from, to { border-color: transparent }
  100% { border-color: orange; }
} */

.container-fluid{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main-carousel {
  z-index: -1;
    width: 100vw;
    min-height: 600px;
    background-image: url(images/IMG_5528blackAndWhite.JPG);
    background-size: cover;
    background-position: inherit;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    text-align: center;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}



.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

ul {
  list-style-type: none;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.fab {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-github {
 width: 1.28571429em;
 text-align: center;
}

.network-name {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.fa-linkedin {
  width: 1.28571429em;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.intro {
  color: white;
  position: relative;
  padding-top: 200px;
  padding-bottom: 20%;
}

.intro>h1  {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,.6);
    font-size: 5em;
}

.intro>h3 {
  text-shadow: 2px 3px rgb(0, 0, 0, .6);
}

.card-hero .media-figure {
  box-sizing: content-box;
  margin: 0 0 0 24px;
  margin-left: var(--small);
  order: 2;
}

.screenshot {
  border-radius: 6px;
  border-radius: var(--smallRadius);
  box-shadow: none;
  overflow: hidden;
  position: relative;
}

.featured-artwork-box {
  margin-top: 600px;
  background-color: #fff;
}

.col-xs-12 {
  width: 100%;
}

.header {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 17px;
  font-family: 'Times New Roman';
  text-transform: uppercase;
  letter-spacing: 1px;
}

.featured-art {
  padding: 0 8px;
  margin-bottom: 40px;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a {
  background-color: transparent;
}

.featured-artwork-box img {
  border: solid 1px #eee;
  padding: 0;
  margin-bottom: 10px;
}

.featured-art p {
  line-height: 14px;
  font-size: 13px;
  color: #665;
}
  
p {
  margin: 0 0 10px;
}

.artwork-name {
  font-size: 13px;
  font-weight: 200;
}

em {
    font-style: italic;
}

.port-desc {
  font-size: 12px;
  font-weight: 200;
}

.artwork-medium {
  font-size: 12px;
  font-weight: 200;
}

.featured-art {
  padding: 0 8px;
  margin-bottom: 40px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

div {
  display: block;
}

.text-center {
  text-align: center;
}

.col-sm-6 {
  width: 50%;
}

.featured-artwork-box {
  
 
    width: 100vw;
    min-height: 600px;
    
    background-position: inherit;
    background-repeat: no-repeat;

    top: 0;
    text-align: center;

}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.description {
  
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;

}

.bioP {
  color: white;
  font-size: 15px;
}